PyYAML
bs4
coverage
flup
gevent
gevent-eventemitter
hexdump
html5lib
mock
praw
pyinotify; platform_system == 'Linux'
pyparsing
python-dotenv
requests[security]
slackclient
tweepy
watchdog
wordnik-py3; python_version >= '3.3'
wordnik; python_version == '2.7'
